.card {
    background-color: #333;
    border-radius: 3px;
    height: 100%;
    margin: 4px;
    min-height: 9.1em;
    width: 100%;

    & > * {
        display: flex;
    }

    $breath-space: 0.4em;
    $top-bar-height: 3.0em;

    $dev-label-color: #fe4a49;
    $managment-label-color: #567cc1;

    .title {
        align-items: center;
        background-color: rgba(255,255,255,0.1);
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 1.8em * 10 / 12;
        min-height: $top-bar-height * 10 / 12;
        padding: 0 $breath-space + 0.1em;

        &::before {
            content: '@';
        }
        .name {
            font-weight: normal;
            opacity: .5;

            &::before {
                content: '(';
                margin-left: $breath-space;
            }
            &::after {
                content: ')';
                margin-right: $breath-space;
            }
        }

        [class*="-prize"] {
            margin-top: $breath-space / 2;
            font-size: 1.2em;
        }
        .inactive-prize {
            opacity: .5;
        }        
    }

    .info {
        font-size: 1.2em;
        list-style: none;
        padding: 0 ($breath-space) * 3 0.2em ($breath-space) * 3;

        summary {
            display: flex;
            justify-content: space-between;

            &::-webkit-details-marker {
                display:none;
            }
        }
        
        & > * > span{
            cursor: pointer;
            font-weight: bold;

            &:not( .percent ) {
                align-items: center;
                display: flex;
                
                &:hover {
                    text-decoration: underline;
                }

                & > * {
                    margin: 0 $breath-space;
                }
            }
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                padding: $breath-space * 2 0;
                &:not( :last-child ) {
                    border-bottom: 0.2em solid rgba(0,0,0,.1);
                }

                a {
                    text-decoration: none;
        
                    &:hover {
                        text-decoration: underline;
                    }
                }

                span.dev::after,
                span.gestao::after {
                    border-radius: 3em;
                    margin: 0 .2em;
                    padding: 0 .4em;
                    min-width: 32px;
                }

                span.dev::after {
                    background-color: $dev-label-color;
                    content: "Dev";
                }

                span.gestao::after {
                    background-color: $managment-label-color;
                    content: "Gestão";
                }
            }
        }
    }
}

@media (max-width: 300px) {
    .card .title .name {
        display: none;
    }
}