$em-size: 10px;
body{
  font-size: $em-size;
}

.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 39.4em;
}

@media (max-width: 39.4 * $em-size){
  .App{
    width: 100%;
  }
}